<!doctype html>
<html lang="">
<head>

    <title>XDocs - A Knowledge base and documentation theme</title>
    <!--========================================
    Meta
    ===========================================-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="xDocs">
    <link rel="icon" sizes="192x192" href="assets/img/basic/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="assets/img/basic/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/img/basic/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#55acee">
    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#55acee">

    <!--========================================
    CSS
    ===========================================-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!--put your custom css on the file below-->
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">


</head>
<body class="quickSectionActive">

    <div class="bodyWrap">
        <header class="doc-header">
            <div class="logoWrap">
                <a href="index.html"><img src="assets/img/basic/logo.png" alt="/" width="109" height="43"></a>
            </div>
            <a href="#" class="nav-trigger"><i class="fa fa-navicon"></i></a>
             <ul class="main-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Services</a></li>
                <li><a href="knowledgebase.html">Knowledge base</a></li>
                <li><a href="single.html">Docs page</a></li>
                <li class="active"><a href="create.html">Create Ticket</a></li>
                <li><a href="discussion.html">Discussion</a></li>
                <li><a href="login.html">Sign in / Sign up</a></li>
            </ul>
            <ul class="socialLinks">
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-home"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-rss"></i></a></li>
            </ul>
            <span class="copyRights">&copy; 2016, All rights reserved</span>
        </header>
        <button class="toggleOptionPanel"><i class="fa fa-align-right"></i></button>
        <div class="optionsPanel">
            <button class="toggleOptionPanel"><i class="fa fa-align-right"></i></button>
            <div class="inner">
                <div class="search-widget">
                    <form>
                        <div class="input-block">
                            <label for="searchDocs">SEARCH ANYTHING</label>
                            <input id="searchDocs" type="text">
                        </div>
                        <button type="submit"><i class="fa fa-search"></i> </button>
                    </form>
                </div>

                <div class="accordion">
                    <header>
                        <a href="#">
                            <i class="fa fa-folder-open"></i>
                            Wordpress Themes
                        </a>
                    </header>
                    <div class="accordion-content">
                        <ul>
                            <li><a href="#"><i class="fa fa-folder-o"></i> WEROCK MUSIC & EVENTS </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> VOLTOV BLOG MAGZINE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> CLINIX LAYERS MEDICAL </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> 21 MULTIPURPOSE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> GFASHION WOOCOMMERCE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> PLANET GENERAL STORE </a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <header>
                        <a href="#">
                            <i class="fa fa-folder-open"></i>
                            HTML Themes
                        </a>
                    </header>
                    <div class="accordion-content">
                        <ul>
                            <li><a href="#"><i class="fa fa-folder-o"></i> WEROCK MUSIC & EVENTS </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> VOLTOV BLOG MAGZINE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> CLINIX LAYERS MEDICAL </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> 21 MULTIPURPOSE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> GFASHION WOOCOMMERCE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> PLANET GENERAL STORE </a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <header>
                        <a href="#">
                            <i class="fa fa-folder-open"></i>
                            PSD Themes
                        </a>
                    </header>
                    <div class="accordion-content">
                        <ul>
                            <li><a href="#"><i class="fa fa-folder-o"></i> WEROCK MUSIC & EVENTS </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> VOLTOV BLOG MAGZINE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> CLINIX LAYERS MEDICAL </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> 21 MULTIPURPOSE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> GFASHION WOOCOMMERCE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> PLANET GENERAL STORE </a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <header>
                        <a href="#">
                            <i class="fa fa-folder-open"></i>
                            Ghost Themes
                        </a>
                    </header>
                    <div class="accordion-content">
                        <ul>
                            <li><a href="#"><i class="fa fa-folder-o"></i> WEROCK MUSIC & EVENTS </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> VOLTOV BLOG MAGZINE </a></li>
                            <li><a href="#"><i class="fa fa-folder-o"></i> CLINIX LAYERS MEDICAL </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <main class="contentArea">
            <div class="contentAreaInner small-canvas clearfix">
                <header class="page-header user-widget-wrap">
                    <h1>Create New Topic</h1>
                    <div class="user-widget top-right">
                        <figure><img src="assets/img/author.jpg" alt=""></figure>
                        <cite>Joe Khan</cite>
                        <span>client</span>

                    </div>
                </header>

                <form>
                    <div class="custom-select">
                        <span>Select a theme</span>
                        <select>
                            <option selected>Select a theme</option>
                            <option>Suono HTML</option>
                            <option>Gfashion WP</option>
                            <option>And Lorem Ipsum</option>
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="giveTitle">Your Question</label>
                        <input id="giveTitle" type="text">
                    </div>
                    <div class="input-block">
                        <label for="writeDetails">Write to describe...</label>
                        <textarea id="writeDetails"></textarea>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox" id="followup-check">
                        <label for="followup-check">
                            <span></span>
                            Notify me of follow-up replies
                        </label>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-lg"><i class="fa fa-hashtag"></i>POST QUESTION</button>
                    </div>
                </form>

            </div><!--contenAreaInner-->
        </main>

    </div>

    <!--========================================
    Javascript
    ===========================================-->

    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>
