<!doctype html>
<html lang="">
<head>

    <title>XDocs - A Knowledge base and documentation theme</title>
    <!--========================================
    Meta
    ===========================================-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="xDocs">
    <link rel="icon" sizes="192x192" href="assets/img/basic/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="assets/img/basic/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/img/basic/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#55acee">
    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#55acee">

    <!--========================================
    CSS
    ===========================================-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!--put your custom css on the file below-->
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">


</head>
<body class="quickSectionActive skipAutoCollapse">

    <div class="bodyWrap">
        <header class="doc-header">
            <div class="logoWrap">
                <a href="index.html"><img src="assets/img/basic/logo.png" alt="/" width="109" height="43"></a>
            </div>
            <a href="#" class="nav-trigger"><i class="fa fa-navicon"></i></a>
             <ul class="main-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Services</a></li>
                <li><a href="knowledgebase.html">Knowledge base</a></li>
                <li><a href="single.html">Docs page</a></li>
                <li><a href="create.html">Create Ticket</a></li>
                <li class="active"><a href="discussion.html">Discussion</a></li>
                <li><a href="login.html">Sign in / Sign up</a></li>
            </ul>
            <ul class="socialLinks">
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-home"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-rss"></i></a></li>
            </ul>
            <span class="copyRights">&copy; 2016, All rights reserved</span>
        </header>
        <button class="toggleOptionPanel"><i class="fa fa-align-right"></i></button>

        <div class="optionsPanel">
            <button class="toggleOptionPanel"><i class="fa fa-align-right"></i></button>
            <div class="inner">
               <div class="text-widget">
                   <h4>What is this?</h4>
                   <p>Please fill following details which are specific to only this topic. It could help to solve your issue quickly.</p>
                    <ul class="icon-list">
                        <li><i class="fa fa-hand-o-right"></i> It will be only visible to you and staff.</li>
                        <li><i class="fa fa-hand-o-right"></i> It will effect the time frame positively</li>
                    </ul>
               </div>
                <br>
                <form>
                    <h4><i class="fa fa-globe"></i> Website Credentials</h4>
                    <div class="input-block fancy-block">
                        <span class="fa fa-link"></span>
                        <label for="topic_web_url">URL</label>
                        <input id="topic_web_url" type="url">
                    </div>
                    <div class="input-block fancy-block">
                        <span class="fa fa-user"></span>
                        <label for="topic_web_un">username</label>
                        <input id="topic_web_un" type="text">
                    </div>
                    <div class="input-block fancy-block">
                        <span class="fa fa-lock"></span>
                        <label for="topic_web_pw">Password</label>
                        <input id="topic_web_pw" type="password">
                    </div>


                </form>

            </div>
        </div>

        <main class="contentArea">
            <div class="contentAreaInner clearfix">
                <div class="heading">
                    <h1><span class="version status solved">Solved</span> Installation error  missing style.css</h1>
                    <hr>
                </div>
                <div class="discussion-area">
                    <div class="topic-comments">
                        <div class="comment user-comment">
                            <div class="comment-content">
                                <p>
                                    Hi,<br>
                                    I have gone to great lengths to get your theme to load quickly. We have tried changing hosting companies to improve latency, optimising all images and served pages to ensure the smallest possible download is made,
                                </p>
                            </div>
                            <cite class="commentator">
                                <span class="auth-dp"><img src="assets/img/author.jpg" alt="asd"></span>
                                Sara Doe
                                <span>Client</span>
                            </cite>
                        </div>
                        <div class="comment staff-comment">
                            <div class="comment-content">
                                <p>
                                    Hello,<br>
                                   You have to follow my lead and your all pain would be gone just like you have used dummy explanation I am gonna return the favour and would be saying very vague words, tit for tat :p,
                                </p>
                                <code>
                                    foreach(hello in world)<br> console.log("hello stranger :D");
                                </code>
                            </div>
                            <cite class="commentator">
                                <span class="auth-dp"><img src="assets/img/author-2.jpg" alt="asd"></span>
                                Jon Snow
                                <span>Agent</span>
                            </cite>
                        </div>
                        <div class="comment user-comment">
                            <div class="comment-content">
                                <p>
                                    Many thanks, you agent of unknown world, don't know how but your comment worked and now all is good
                                    <br>
                                    Thanks :)
                                </p>
                            </div>
                            <cite class="commentator">
                                <span class="auth-dp"><img src="assets/img/author.jpg" alt="asd"></span>
                                Sara Doe
                                <span>Client</span>
                            </cite>
                        </div>
                    </div>
                    <hr>
                    <h4>Replay to : Installation error  missing style.css</h4>
                    <form>
                        <div class="input-block">
                            <label for="writeDetails">How can we help you?</label>
                            <textarea class="text-area-sm" id="writeDetails"></textarea>
                        </div>

                        <br>
                        <div class="custom-checkbox">
                            <input type="checkbox" id="followup-check">
                            <label for="followup-check">
                                <span></span>
                                Notify me of follow-up replies
                            </label>
                        </div>
                        <br>
                        <br>
                        <button class="btn"><i class="fa fa-hashtag"></i>POST Reply</button>

                    </form>
                </div>
            </div><!--contenAreaInner-->
        </main>
    </div>

    <!--========================================
    Javascript
    ===========================================-->

    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>
